apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app-container
          image: 939458930010.dkr.ecr.us-east-1.amazonaws.com/tc-fiap-order:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          env:
            - name: DB_HOST
              value: "tc-fiap-product-production-postgres.ctowsmqftce2.us-east-1.rds.amazonaws.com"
            - name: DB_PORT
              value: "5432"
            - name: DB_SSLMODE
              value: "require"
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_DB
            - name: CUSTOMER_SERVICE_URL
              value: "http://a99c522669cb348c2b0bfdf2e2c7b7be-57fcd899a3f33e0b.elb.us-east-1.amazonaws.com/customer"
            - name: PRODUCT_SERVICE_URL
              value: "http://a99c522669cb348c2b0bfdf2e2c7b7be-57fcd899a3f33e0b.elb.us-east-1.amazonaws.com/product"
